In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# Click Dots below for CSV Imports

In [9]:
# Import All of the CSVs

read_csv_16 = "Resources/2016_team_data.csv"

raw_data_16 = pd.read_csv(read_csv_16)

read_csv_17 = "Resources/2017_team_data.csv"

raw_data_17 = pd.read_csv(read_csv_17)

read_csv_18 = "Resources/2018_team_data.csv"

raw_data_18 = pd.read_csv(read_csv_18)

read_csv_19 = "Resources/2019_team_data.csv"

raw_data_19 = pd.read_csv(read_csv_19)

read_csv_20 = "Resources/2020_team_data.csv"

raw_data_20 = pd.read_csv(read_csv_20)

# I do not understand why there are NaaN values. 
# Still figuring out this whole database building thing. 

db_16 = raw_data_16.dropna()

db_17 = raw_data_17.dropna()

db_18 = raw_data_18.dropna()

db_19 = raw_data_19.dropna()

db_20 = raw_data_20.dropna()

In [6]:
# We Only Need Runs Scored & Runs Allowed
# Recall that 2020 was a shortened season -- I went ahead and created an "Assumed Variable" 
# based upon the average runs scored per game vs. 162 games. 
# I understand that this is a significant limitation to this dataset. 
# Suggestions on how to more accurately forecast this statistic are welcome.

In [23]:
# Creating New DB 

db_19.columns

Index(['Tm', '#Bat', 'BatAge', 'R/G', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B',
       'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+',
       'TB', 'GDP', 'HBP', 'SH', 'SF', 'IBB', 'LOB', '#P', 'PAge', 'RA/G', 'W',
       'L', 'W-L%', 'ERA', 'G.1', 'GS', 'GF', 'CG', 'tSho', 'cSho', 'SV', 'IP',
       'H.1', 'R.1', 'ER', 'HR.1', 'BB.1', 'IBB.1', 'SO.1', 'HBP.1', 'BK',
       'WP', 'BF', 'ERA+', 'FIP', 'WHIP', 'H9', 'HR9', 'BB9', 'SO9', 'SO/W',
       'LOB.1'],
      dtype='object')

In [25]:
rs_20 = db_20['Adj. Runs']
ra_20 = db_20['Adj. Runs.1']
teams = db_20['Tm']

rs_19 = db_19['R']
ra_19 = db_19['R.1']

rs_18 = db_18['R']
ra_18 = db_18['R.1']

rs_17 = db_17['R']
ra_17 = db_17['R.1']

rs_16 = db_16['R']
ra_16 = db_16['R.1']

In [27]:
df = pd.DataFrame({
    
    "Teams": teams
    
})

   Teams
0    ARI
1    ATL
2    BAL
3    BOS
4    CHC
5    CHW
6    CIN
7    CLE
8    COL
9    DET
10   HOU
11   KCR
12   LAA
13   LAD
14   MIA
15   MIL
16   MIN
17   NYM
18   NYY
19   OAK
20   PHI
21   PIT
22   SDP
23   SEA
24   SFG
25   STL
26   TBR
27   TEX
28   TOR
29   WSN